# PostgreSQL - Aplicação
APP_DB_USER=app_user
APP_DB_PASSWORD=app_password
APP_DB_NAME=portal_academico

# PostgreSQL - Keycloak
KC_DB_USER=keycloak_user
KC_DB_PASSWORD=keycloak_password
KC_DB_NAME=keycloak

# Keycloak
KC_ADMIN=admin
KC_ADMIN_PASSWORD=admin
